.NavBar {
  display: flex !important;
  justify-content: center !important;
  text-align: center !important;
}

.NavContainer {
  display: flex;
  flex-direction: row !important;
  justify-content: center !important;
  text-align: center !important;
}

.NavLink {
  padding: 0.5em 0 !important;
  width: 5em !important;
  color: white !important;
  margin: 0.5rem !important;
}

.NavLink:hover {
  background-color: rgb(0, 0, 15) !important;
  color: yellow !important;
}

.NavLink.active {
  background-color: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 17) !important;
}
